Source: network-manager-ssh
Section: net
Priority: optional
Maintainer: Lennart Weller <lhw@ring0.de>
Build-Depends: debhelper (>= 9),
               dh-autoreconf,
               dpkg-dev (>= 1.16.1.1),
               intltool,
               libgtk-3-dev (>= 3.4),
               libnm-dev (>= 1.1.0),
               libnma-dev (>= 1.1.0),
               libsecret-1-dev (>= 0.18),
Standards-Version: 3.9.8
Vcs-Git: https://anonscm.debian.org/git/collab-maint/network-manager-ssh.git
Vcs-Browser: https://anonscm.debian.org/git/collab-maint/network-manager-ssh.git
Homepage: https://github.com/danfruehauf/NetworkManager-ssh/

Package: network-manager-ssh
Architecture: any
Depends: openssh-client, sshpass, ${misc:Depends}, ${shlibs:Depends}
Recommends: network-manager-ssh-gnome | plasma-widget-networkmanagement
Description: network management framework (SSH plugin core)
 NetworkManager is a system network service that manages your network devices
 and connections, attempting to keep active network connectivity when
 available. It manages ethernet, WiFi, mobile broadband (WWAN), and PPPoE
 devices, and provides VPN integration with a variety of different VPN
 services.
 .
 This package provides a VPN plugin for SSH.

Package: network-manager-ssh-gnome
Architecture: any
Depends: network-manager-ssh (= ${binary:Version}),
         ${misc:Depends},
         ${shlibs:Depends}
Replaces: network-manager-ssh-gnome (<< 1.2.0-1~)
Breaks: network-manager-ssh (<< 1.2.0-1~)
Description: network management framework (SSH plugin GNOME GUI)
 NetworkManager is a system network service that manages your network devices
 and connections, attempting to keep active network connectivity when
 available. It manages ethernet, WiFi, mobile broadband (WWAN), and PPPoE
 devices, and provides VPN integration with a variety of different VPN
 services.
 .
 This package provides the GNOME bits of NetworkManager's SSH plugin.
